<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Restore Password

            p Insert your new password

            if locals.messages
                .alertas
                    each categoria in Object.keys(locals.messages)
                        each error in messages[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#form.caja.caja-login(method="POST")
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="new password")
                .campo.enviar
                    input.boton(type="submit" value="Restore Password")