<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Restore Password
        p Hello, you have requested to change your password, click on the following link to restore it, this email is temporary
        a(href=`${resetUrl}`) Go to Reset Password
        p If you can't access this link, visit #{resetUrl}
        p If you didn't request this email please ignore
